$primary:#74baff;
$success:#67c23a;
$warning:#e6a23c;
$danger:#f56c6c;
$info:#909399;

$inputBorder: rgb(217,217,217);
$boxShadowColor: 0 0 10px rgba(70, 70, 216, 0.352);
$backGroundColor: #fff;
$liColor: #9d9d9d;
$inputPlaceholder: #c6c8cc;