.l-input {
  min-width: 200px;
  max-width: 800px;
  position: relative;
  color: $inputBorder;
  display: inline-block;
  width: auto;
  height: auto;
  //样式初始化
  input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 18px;
    font-size: 14px;
    flex: 1;
    border: 1px solid $inputBorder;
    transition: all .5s ease;
    border-radius: 4px;
    &:focus {
      border-color: $primary;
      box-shadow: $boxShadowColor;
    }
    &:hover {
      border-color: $primary;
    }
  }

  //清除的input
  .clearInput {
    position: absolute;
    cursor: pointer;
    right: 10px;
    bottom: 0;
    height: 100%;
    display: flex !important;
    align-items: center;
    font-size: 12px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.ruler-input {
  border-color: $danger !important;
  &:focus {
    border-color: $danger !important;
    box-shadow: none !important;
  }
  &:hover {
    border-color: $danger !important;
  }
}

.l-input {
  //禁用的input
  .l-input-disabled {
    cursor: not-allowed;
    color: #a8abb2;
    &:hover {
      border-color: #a8abb2;
    }
  }
}


.max-length {
  font-size: 12px;
  position: absolute;
  color: $info;
  display: flex;
  align-items: center;
  right: 5%;
  bottom: 0;
  top: 0;
}


.l-input-small {
  height: 30px;
}

.l-input-medium {
  height: 34px;
}

.l-input-large {
  height: 38px;
}


.l-input__suffix,
.l-input__prefix {
  position: absolute;
  right: 5px;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #c0c4cc;
  font-size: 12px;
}

.no-cursor {
  cursor: default;
}



.l-input__prefix {
  position: absolute;
  width: 18px;
  cursor: default;
  left: 5px;
}
